@import url("https://fonts.googleapis.com/css2?family=Kenia&family=Roboto&display=swap");
body {
  background-color: #333;
  font-family: "Roboto", sans-serif;
}

.users {
  max-width: 100%;
  text-align: center;
}

.users h1 {
  color: white;
}

.names {
  color: white;
  font-size: 25px;
  margin-top: 20px;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
}

.signIn {
  max-width: 100%;
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.signUp {
  max-width: 100%;
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

input {
  width: 300px;
  margin: 10px 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  height: 40px;
  outline: none;
  font-size: large;
  color: white;
}

button {
  width: 200px;
  margin-top: 30px;
  background-color: transparent;
  cursor: pointer;
  color: rgba(0, 132, 255, 0.582);
  height: 30px;
  border: 1px solid rgba(0, 132, 255, 0.582);
  border-radius: 7px;
}

h3 {
  color: rgba(0, 132, 255, 0.582);
}

.link {
  color: blue;
  padding-left: 10px;
  text-decoration: none;
}

.todoApp {
  max-width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.todos {
  display: flex;
  justify-content: space-between;
  max-width: 870px;
  text-align: center;
  color: white;
}

.dltBtn {
  color: red;
  width: 100px;
  border: none;
  margin: 0;
  padding: 0;
}

.todo {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 330px;
}

.addBtn {
  color: white;
  width: auto;
  border: none;
  margin-left: 20px;
}

.todoInput {
  width: 50%;
}

.header {
  display: flex;
  color: white;
  justify-content: space-between;
}

.header h1 {
  width: 25%;
  text-align: center;
}

.header button {
  width: 25%;
  color: brown;
  font-size: 18px;
  border: none;
  margin-left: 20px;
  height: 15px;
}

.link {
  color: rgba(0, 132, 255, 0.582);
}

.nickname {
  font-family: cursive;
  text-align: end;
  color: rgb(38, 255, 0);
  font-size: 20px;
}
